* {
    padding: 0;
    margin: 0;
}
.wrapper {
    width: 1440px;
    margin: 0 auto;
    padding-top: 15px;
}
header{
    display: flex;
    flex-direction: column;
}
img {
    width: 30px;
    height: 32px;
}
.catalog {
    display: flex;
    width: 98px;
    background: #FFCC00;
    align-items: center;
    justify-content: center;
    height: 45px;
}
.catalog img {
    width: 28px;
    height: 26px;
}
.catalog button {
    height: 40px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background: #FFCC00;
}
.up, .down{
    display: flex;
    gap: 30px;
}
.left, .center, .right, .left-side, .the-center, .right-side{
    display: flex;
    gap: 7px;
    align-items: center;
}
.input {
    border: 2px solid #FFCC00;
}
input {
    width: 510px;
    height: 40px;
    border-radius: 4px;
    border: none;
    outline: none;
}
.input button {
    width: 84px;
    height: 41px;
    border: none;
    background: #FFCC00;
    font-weight: bold;
}
.plus {
    display: flex;
    flex-direction: column;
}
.plus button {
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 4px;
    background: linear-gradient(90deg, rgb(0, 132, 255), rgb(198, 0, 198), rgb(255, 255, 0)) ;;
}
.orders, .favorites, .basket{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign-in {
    width: 80px;
    height: 40px;
    background: #E8E8E8;
    border: none;
    border-radius: 5px;
}
a {
    text-decoration: none;
    color: #000;
}
.right {
    gap: 14px;
}
.the-center {
    gap: 25px;
}
.right-side{
    gap: 25px;
}
.container {
    margin-top: 30px;
}
.items{
    width: 1200px;
    height: 200px;
    border: 1px solid #c4c4c4;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px;
}
.image img {
    width: 180px;
    height: 100px;
}
.about p {
    padding-top: 7px;
}
.price {
    display: flex;
    flex-direction: column;
}
.price button {
    width: 84px;
    height: 41px;
    border: none;
    background: #FFCC00;
    font-weight: bold;
    border-radius: 5px;
}
.otziv {
    background: green;
    border: none;
    padding: 5px;
    color: #fff;
}